@import '../../styles/shared';

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  // background-image: linear-gradient(to bottom, #000000 10%, #e74c3c 50%);
  // background-image: linear-gradient(
  //   to bottom right,
  //   #03001e,
  //   #7303c0,
  //   #ec38bc,
  //   #fdeff9
  // );
  // background-image: linear-gradient(to bottom, #000000, #6a9113, #7b920a);
}
