// $background-color: aqua;
// $notification: #3c8ebff7;
// $button-active: #6495ed;
// $button-border: hsl(202, 57%, 51%);
// $title: #20757df7;
// $title-gradient-bottom: #424ddabd;
// $emphasis-color: rgba(130, 62, 161, 0.6);
// $emphasis-text: rgb(130, 62, 161);
// $emphasis-input: rgba(100, 149, 237, 0.6);
// $outline-color: #00bfff;
// $back-color: #f7dc79bd;
// $back-emphasis-color: #ff897d;
// $lendosTitleColor: #0052ebbd;
// $lendosNameColor: #eb0800bd;
// $lendosBcgColor: rgba(255, 255, 255, 0.55);

// $main-color: #e28a17;
// $font-cl-active: rgb(136, 12, 12);
// $bcg-cl-btn: #89d37f;
// $bcg-cl-gradient-first: #e0d017;
// $bcg-cl-gradient-second: #d63f3c;
// $hover-cl-btn: #303f9f;
// $hover-bgd-cl: #e45447;
// $btn-bgc-cl: rgb(155, 108, 6);
// $bcg-cl-card: #e8e5bf;
// $bcg-cl-cast: #9f873047;

$titleTextColor: #ffffff;
$tagsTextColor: #ffffff8c;
$start-color: rgba(255, 255, 255, 0);
$end-color: #202020;
$heading: #424242;
$lastTagColor: #585858f2;
$bcgBanerColor: #9e9c9c;
$lastImgColor: #212121;
$bcgBtnActive: rgba(0, 0, 0, 0.13);
$arrowIconActive: #616161;
$arrowIcon: #bdbdbd;
