$titleTextColor: #ffffff;
$tagsTextColor: #ffffff8c;
$start-color: rgba(255, 255, 255, 0);
$end-color: #202020;
$heading: #424242;
$lastTagColor: #585858f2;
$bcgBanerColor: #9e9c9c;
$lastImgColor: #212121;
$bcgBtnActive: rgba(0, 0, 0, 0.13);
$arrowIconActive: #616161;
$arrowIcon: #bdbdbd;
